@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    background-color: $secondary-color;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: $secondary-color;
    position: sticky;
    top: 0;
    z-index: 99;

    .banner {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    .search {
        display: flex;
        align-items: center;
    }
    .searchInput {
        padding-left: 1em;
        padding-right: 1px;
        background-color: $primary-color;
        border: none;
        height: 30px;
        color: $secondary-color;
        font-size: 16px;
    }

    .searchInput:focus {
        outline: none;
    }

    .searchInput::placeholder {
        color: $secondary-color;
        text-align: left;
    }

    h3 {
        margin-left: 20px;
        margin-right: 20px;
        text-transform: uppercase;
    }
    nav {
        display: flex;
    }

    ul {
        display: flex;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $secondary-color;
        font-weight: bold;
        padding: 5px 8px;
    }
    a:hover {
        color: $hover-color;
    }
    img {
        color: $secondary-color
    }
}

.showcase {
    background-color: $secondary-color;
    margin: 50px 0;
    padding: 0 30px;
    .title {
        text-align: center;
        color: $primary-color;
        text-transform: uppercase;
        font-size: 40px;
        margin: 0 0 75px;
    }
    .subtitle {
        color: $primary-color;
        padding: 10px 2px;
    }
    .wrapper {
        display: grid;
        // grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;
        grid-template-areas: 
            "text1 img"
            "text2 img";
    }
    .description-first {
        grid-area: text1;
    }
    .description-second {
        grid-area: text2;
    }
    .showcase-img {
        grid-area: img;
    }

    .img-city {
        width: 100%;
    }
}

.why-travel {
    background-image: linear-gradient(to right, #19a5bc, #8ac3d0);
    margin: 50px 0;
    padding: 5em 2em;
    text-align: center;
    position: relative;
    transform: skewY(-5deg) translateY(60px);

    &::before {
        content: '';
        background-image: url(../img/img-bg-adventure.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .2;
    }
    & > * {
        transform: skewY(5deg) translateY(-50px);
    }
    h1 {
        margin: 3em 0;
        text-transform: uppercase;
        color: $secondary-color;
    }

    .box-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2em;
    }

    .box {
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2em 2em;
        height: auto;
        gap: 1em;
        color: $primary-color;
        z-index: 3;
        margin: 0 auto;
    }
}

.tours {
    transform: translateY(119px);
    // padding: 2em 5em;
    text-align: center;

    h1 {
        margin: 0 0 4em;
        text-transform: uppercase;
        color: $primary-color;
    }
    
    .tours-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2em;
        justify-content: space-between;
    }
    .tour {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 2em 0;
        width: 300px;
        overflow: hidden;
        background-color: #fff;
        color: set-text-color(#fff);
        margin: 0 auto;
    }

    .tour:nth-child(2) {
        background-color: $primary-color;
        color: set-text-color($primary-color);
    }
    
    .tour:nth-child(2) ul li {
        border-bottom: 1px $secondary-color solid;  
    }

    .tour-img {
        width: 300px;
        height: 200px;
        padding-bottom: 1em;
    }
    .tour ul {
        list-style: none;
    }
    .tour ul li {
        border-bottom: 1px $primary-color solid;
        padding: 1em;
    }

    .tour ul li:last-child {
        border-bottom: none;
    }
    .btn {
        margin: 100px 0;
        background-image: linear-gradient(to right, $primary-color , #72c0cf);
        border: none;
        padding: 1.5em 2em;
        color: $secondary-color;
        font-weight: bold;
        border-radius: 32px;
    }
}

.socials {
    background-color: #2d4e55;
    display: flex;
    flex-direction: column;
    margin: 100px 0 0;
    color: $secondary-color;
    .list {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
    .list li {
        padding: 2em;
    }
    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
    .img-social {
        padding: 2em;
    }
}

.footer {
    background-color: $primary-color;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary-color;

    .banner {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    h3 {
        margin: 0 50px;
        text-transform: uppercase;
    }
    p {
        margin-right: 20px;
    }
}

@import 'mobile';




// .WHY-TRAVEL - ALTERNATIVE WITH GRID

// .why-travel {
//     background-image: url(../img/img-bg-adventure.jpg);
//     background-size: cover;
//     background-position: center center;

//     h1 {
//         text-align: center;
//         font-size: 32px;
//     }
//     .box-wrapper {
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         grid-gap: 6em;
//         width: min-content;
//         margin: 0 auto;
//     }

//     .box {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         background: $secondary-color;
//         color: $primary-color;
//         text-align: center;
//         padding: 20px 30px;
//         width: 250px;
//         height: 300px;
//     }
//     .box h3 {
//         margin: 32px 0;
//     }
// }